* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
    }
}

/* Small tablet */
@media screen and (min-width: 480px) and (max-width: 768px) {
    body {
    }
}

/* Mobile  */
@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
    }
}

@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
        transform: rotate(-90deg);
    }
}

.dropdown-menu {
    width: 300px;
    background: #2b2b2b;
}
.dropdown-menu .sub-menu {
    background: #323232;
    display: block;
}
.dropdown-menu li {
    position: relative;
}
.dropdown-menu a {
    display: block;
    padding: 10px 10px;
    color: #c3ccce;
    border-bottom: 1px solid #3c3b3b;
}
.dropdown-menu a:hover,
.dropdown-menu .sub-menu a:hover {
    color: #e1f2e3;
}
.dropdown-menu .sub-menu a {
    padding-left: 28px;
    color: #9b9b9b;
}
.icon-menu {
    color: #f5f5f5;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
}
.li-child {
    position: relative;
    background-color: red;
}

.dropdown-menu {
    width: 300px;
    background: #2b2b2b;
}
.dropdown-menu .sub-menu {
    background: #323232;
    display: none;
}
.dropdown-menu li {
    position: relative;
}
.dropdown-menu a {
    display: block;
    padding: 10px 10px;
    color: #c3ccce;
    border-bottom: 1px solid #3c3b3b;
}
.dropdown-menu a:hover,
.dropdown-menu .sub-menu a:hover {
    color: #e1f2e3;
}
.dropdown-menu .sub-menu a {
    padding-left: 28px;
    color: #9b9b9b;
}
.icon-menu {
    color: #f5f5f5;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
}
